---
import '../styles/global.css'
---

<!doctype html>
<html lang="en" class="bg-[#101524] text-gray-100 font-mono">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" type="text/css" href="/styles/prism.css">
		<!-- <link rel="stylesheet" type="text/css" href="/styles/prism-holi-theme.css"> -->
		<meta name="generator" content={Astro.generator} />
		<title>Meitekini Leakey</title>
		
	</head>
	<body class="min-h-[100vh] flex items-center justify-center p-4">
		<slot />
	</body>
</html>




